<%- include("../partials/header.ejs") %>
<h1>Edit Trip</h1>
<div class="row editTripForm">
  <form
    action="/trips/<%= trip._id %>?_method=PUT"
    method="POST"
    class="col s12"
  >
    <div class="row">
      <div class="input-field col s6">
        <input
          id="name"
          type="text"
          class="validate"
          name="name"
          value="<%= trip.name %> "
          required
        />
        <label for="name">Trip Name</label>
      </div>
        <div class="input-field col s6">
          <input
            id="duration"
            type="number"
            class="validate"
            min="1"
            name="duration"
            value="<%= +(trip.duration) %>"
            required
          />
          <label for="duration">Trip Duration (day)</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea id="itinerary" class="materialize-textarea" name="itinerary">
<%= trip.itinerary.join(", ") %></textarea
        >
        <label for="itinerary">Itinerary</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input
              type="text"
              id="autocomplete-input"
              name="destination"
              class="autocomplete"
              value="<%= trip.destination %>"
            />
            <label for="autocomplete-input">Trip Destination</label>
          </div>
        </div>
      </div>
    </div>

    <div class="mapContainer">
      <div id="map"></div>
    </div>

    <a href="/trips/<%= trip._id %>" class="waves-effect waves-light btn"
      >Cancel<i class="material-icons right">cancel</i></a
    >
    <button
      class="btn waves-effect waves-light right"
      type="submit"
      name="action"
    >
      Submit
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>

<script>
  const latitude = <%= trip.latitude %>;
  const longitude = <%= trip.longitude %>;
  // Set mapbox access token
  mapboxgl.accessToken =
    "pk.eyJ1Ijoid29sbGV5c2Vzb20iLCJhIjoiY2t1MGdxamVwMWU4bTJudGgyOWsxaGg3ZSJ9.Pxl9xv4a8z9tVFIhSecDUw";

  // initialize mapbox instance
  const map = new mapboxgl.Map({
    container: "map", // HTML container id
    style: "mapbox://styles/mapbox/streets-v9", // style URL
    center: [latitude, longitude], // starting position as [lng, lat]
    zoom: 13, // starting zoom level
  });
</script>
<script src="/js/autocomplete.js"></script>
<%- include("../partials/footer.ejs") %>
