<%- include("../partials/header.ejs") %>
<h1>Edit trip</h1>
<div class="row">
  <form
    action="/trips/<%= trip._id %>?_method=PUT"
    method="POST"
    class="col s12"
  >
    <div class="row">
      <div class="input-field col s12">
        <input
          id="name"
          type="text"
          class="validate"
          name="name"
          value="<%= trip.name %> "
          required
        />
        <label for="name">Trip Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <input
          id="duration"
          type="text"
          class="validate"
          name="duration"
          value="<%= trip.duration %> "
          required
        />
        <label for="duration">Trip Duration (day)</label>
      </div>
      <div class="input-field col s8">
        <input
          id="destination"
          type="text"
          class="validate"
          name="destination"
          value="<%= trip.destination %> "
          required
        />
        <label for="destination">Trip Destination</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="itinerary" class="materialize-textarea" name="itinerary">
<%= trip.itinerary.join(", ") %></textarea
        >
        <label for="itinerary">Itinerary</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">
      Submit
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
<%- include("../partials/footer.ejs") %>
