<%- include("../partials/header.ejs") %>
<h1>Edit Trip</h1>
<div class="row editTripForm">
  <form
    action="/trips/<%= trip._id %>?_method=PUT"
    method="POST"
    class="col s12"
  >
    <div class="row">
      <div class="input-field col s12">
        <input
          id="name"
          type="text"
          class="validate"
          name="name"
          value="<%= trip.name %> "
          required
        />
        <label for="name">Trip Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
        <input
          id="duration"
          type="number"
          class="validate"
          min="1"
          name="duration"
          value="<%= +(trip.duration) %>"
          required
        />
        <label for="duration">Trip Duration (day)</label>
      </div>
      <div class="input-field col s8">
        <input
          id="destination"
          type="text"
          class="validate"
          name="destination"
          value="<%= trip.destination %>"
          required
        />
        <label for="destination">Trip Destination</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea id="itinerary" class="materialize-textarea" name="itinerary">
<%= trip.itinerary.join(", ") %></textarea
        >
        <label for="itinerary">Itinerary</label>
      </div>
    </div>
    <a href="/trips/<%= trip._id %>" class="waves-effect waves-light btn"
      >Cancel<i class="material-icons right">cancel</i></a
    >
    <button
      class="btn waves-effect waves-light right"
      type="submit"
      name="action"
    >
      Submit
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
<%- include("../partials/footer.ejs") %>
